@model MVC.Models.PeopleCreateViewModel

<!--hidden field used for POST/Edit-->
<input type="text" asp-for="Id" class="d-none" placeholder="Name" id="idInput">

<div class="row px-2 py-1">
    <input type="text" asp-for="Name" class="form-control custom-control-input form-control-sm rounded-0" placeholder="Name" id="nameInput" required>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="row px-2 pb-1">
    <select asp-for="City" asp-items="ViewBag.Cities" class="form-select-sm rounded-0" id="cityInput" placeholder="City">
        <option value="" selected disabled>Select City</option>
    </select>
</div>
<div class="row px-2 pb-1">
    <input type="text" asp-for="PhoneNumber" class="form-control form-control-sm rounded-0" placeholder="Phone Number" aria-describedby="username_required" id="phoneInput" required>
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>