@{
    ViewData["Title"] = "About";

    string lorem = "Tempor eos dolore amet tempor dolor tempor. " +
                   "Dolore ea magna sit amet dolor eirmod.Eos ipsum est tempor dolor. " +
                   "Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem diam.";
}

<section class="row">   
    <div class="col-sm-2 pb-3" style="min-width: 200px;">       
        <img src="~/images/pic.jpg" width="150" /><br />
        <h1>KIM HOLMER</h1>
        <p> 
            Hagen 112<br />
            46393 Västerlanda<br /> 
            SWEDEN<br />
            <a href="tel:+46123456789">+46123456789</a><br />
            <a href="mailto:dummy@mail.com">kim.holmer@mail.com</a>
        </p>
    </div>
    <div class="col-sm-6">          
        <section class="px-4 border border-top-0 border-end-0">   
            <h3 class="mb-4">About me</h3>
            <p class="mb-4">@lorem @lorem @lorem</p>
        </section>
        <section>
            <ul class="timeline pt-3">                
                <li class="timeline-item">
                    <h5 class="mb-0 text-primary">Lexicon</h5>
                    <p class="text-muted py-3">
                        2022-2022 <br /><br /> @lorem 
                    </p>
                </li>
                <li class="timeline-item">
                    <h5 class="mb-0 text-primary">Hermods</h5>
                    <p class="text-muted py-3">
                        2021-2022 <br /><br /> @lorem 
                    </p>
                </li>
                <li class="timeline-item">
                    <h5 class="mb-0 text-primary">Van Svets AB</h5>
                    <p class="text-muted py-3">
                        2012-2021 <br /><br /> @lorem 
                    </p>
                </li>
                <li class="timeline-item">
                    <h5 class="mb-0 text-primary">Kaefer AS</h5>
                    <p class="text-muted py-3">
                        2001-2020 <br /><br /> @lorem
                    </p>
                </li>
            </ul>
        </section>
    </div>
</section>