@{
    ViewData["Title"] = "Contact";
}

<section class="row">
    <div class="col-sm-2 pb-3 border-end" style="min-width: 200px;">
        <p>
            KIM HOLMER <br />
            Hagen 112 <br />
            46393 Västerlanda <br />
            SWEDEN <br />
            <a href="tel:+46123456789">+46123456789</a><br />
            <a href="mailto:dummy@mail.com">kim.holmer@mail.com</a>
        </p>
    </div>

    <div class="col-sm-6 border-bottom pb-2">
        <h3 class="pb-2">Contact me</h3>
        <form asp-controller="Home" asp-action="Contact" method="post">
            <div class="col-md-6 mb-1">
                <input type="text" name="name" placeholder="Name" class="form-control">
            </div>
            <div class="col-md-6 mb-1">
                <input type="text" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <input type="text" name="subject" placeholder="Subject" class="form-control">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <textarea type="text" name="message" rows="10" placeholder="Message" class="form-control md-textarea"></textarea>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Send" />
        </form>             
    </div>

</section>
