
@{
    ViewData["Title"] = "Projects";
}

<section class="px-4">
    <h3 class="pb-2">Github</h3>
    <ul class="timeline pt-3">

        <li class="timeline-item mb-3">
            <h5 class="mb-0">C# .NET</h5>
            <ul class="timeline pt-3">
                <li class="timeline-item">
                    <p class="text-muted">
                        Mar 23 
                        <a href="https://github.com/v0lty/Lexicon/tree/master/Assignment1">
                        Assignment 1 - Calculator</a><br />
                        Console Calculator.
                    </p>
                </li>
                <li class="timeline-item">
                    <p class="text-muted">
                        Mar 28 
                        <a href="https://github.com/v0lty/Lexicon/tree/master/Assignment2">
                        Assignment 2 - Hangman</a><br />
                        Classic Hangman.
                    </p>
                </li>
                <li class="timeline-item">
                    <p class="text-muted">
                        Apr 04 
                        <a href="https://github.com/v0lty/Lexicon/tree/master/Assignment1.Tests">
                        Assignment 3 - Calculator xUnit Test</a><br />
                        Test performed on Calculator using xUnit.
                    </p>
                </li>
                <li class="timeline-item">
                    <p class="text-muted">
                        Apr 12 
                        <a href="https://github.com/v0lty/Lexicon/tree/master/Assignment3">
                        Assignment 4 - Vending Machine</a><br />
                        Vending Machine using Console.
                    </p>
                </li>
                <li class="timeline-item">
                    <p class="text-muted">
                        Apr 12 
                        <a href="https://github.com/v0lty/Lexicon/tree/master/Assignment3.Test">
                        Assignment 4 - Vending Machine xUnit Test</a><br />
                        Test performed on Vending Machine using xUnit.
                    </p>
                </li>
            </ul>
        </li>

        <li class="timeline-item mb-3">
            <h5 class="mb-0">Frontend</h5>
            <ul class="timeline pt-3">
                <li class="timeline-item">
                    <p class="text-muted">
                        Mar 23 
                        <a href="https://github.com/v0lty/Lexicon_Frontend/tree/main/Assignment%201">
                        Assignment 1 - HTML</a><br />
                        Basic webpage using HTML.
                    </p>
                </li>
                <li class="timeline-item">
                    <p class="text-muted">
                        Mar 28 
                        <a href="https://github.com/v0lty/Lexicon_Frontend/tree/main/Assignment%202">
                        Assignment 2 - CSS</a><br />
                        Basic webpage using HTML & CSS.
                    </p>
                </li>
                <li class="timeline-item">
                    <p class="text-muted">
                        Apr 04 
                        <a href="https://github.com/v0lty/Lexicon_Frontend/tree/main/Assignment%203">
                        Assignment 3 - Sokoban</a><br />
                        Sokoban game coded in Javascript.
                    </p>
                </li>
            </ul>
        </li>

        <li class="timeline-item mb-5">
            <h5 class="mb-0">Backend</h5>
            <p class="text-muted">Pending..</p>
        </li>

    </ul>

</section>
